<!DOCTYPE html>
<html>
<head>
    <title>Stashdown</title>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <header>
        <%if (save) { %>
            <input type="submit" id="save" value="Save">
        <% } %>
        <input type="submit" id="close" value="Close">
    </header>
    <div class="container-fluid">
        <section class="row">
            <div class="left">
                <textarea class="col-md-6" id="pad"><%- pad %></textarea>
            </div>
            <div class="right">
                <div class="col-md-6 full-height" id="markdown"></div>
            </div>
        </section>
    </div>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>

</body>
</html>